h1 {
    font-size: 150px;
    color: lightblue;
    text-decoration: underline;
}
p {
    text-align: right;
    text-indent: 50px;
    text-transform: uppercase;
    letter-spacing: ;
    word-spacing: ;
}