// flow control
// if, if else, if elseif, for, while, each



body {
    min-height: 1000px;
}

// if
@mixin profile-pic($size, $circle: false) {
    width: $size;
    height: $size;
    border: 5px solid white;
    box-shadow: 1px 1px 3px rgba($color: #000, $alpha: .3);

    // @if $cicle: true {

    // }

    @if $circle {
        border-radius: 50%;
    }
}

.square-profile {
    @include profile-pic(200px, $circle: false);
}

.circle-profile {
    @include profile-pic(80px, $circle: true);
}


// else
$light-bg: #eaeaea;
$light-text: #333;
$dark-bg: #999;
$dark-text: #ddd;

@mixin color-mode($light-mode: true) {
    @if $light-mode {
        background-color: $light-bg;
        color: $light-text
    } @else {
        background-color: $dark-bg;
        color: $dark-text;
    }
}

.nav {
    @include color-mode($light-mode: false);
}


// else if
@mixin triangle($size, $color, $direction) {
    width: 0;
    height: 0;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;

    @if $direction == up {
        border-bottom-color: $color;
    } @else if $direction == right {
        border-left-color: $color;
    } @else if $direction == down {
        border-top-color: $color;
    } @else {
        border-right-color: $color;
    }
}

.right {
    @include triangle(1em, black, down)
}


// for
.gradient {
    // margin: 0;
    // padding: 0;
    // list-style: none;

    // li:nth-child(1) {
    //     padding: 4px;
    //     background-color: salmon;
    // }

    // li:nth-child(2) {
    //     padding: 4px;
    //     background-color: rgb(250, 135, 122);
    // }

    // li:nth-child(3) {
    //     padding: 4px;
    //     background-color: rgb(254, 144, 132);
    // }

    // li:nth-child(4) {
    //     padding: 4px;
    //     background-color: rgb(255, 154, 143);
    // }

    // $color: salmon;
    // @for $i from 1 to 11 {
    //     li:nth-child(#{$i}) {
    //         padding: 4px;
    //         lighten/darken
    //         sebuah fungsi untuk mengubah warna menjadi terang sebanyak berapa persen
    //         background-color: lighten($color, $i * 2%);
    //     }
    // }
}


// while
.gradient {
    margin: 0;
    padding: 0;
    list-style: none;

    $color: salmon;
    $i: 1;
    @while $i < 11 {
        li:nth-child(#{$i}) {
            padding: 4px;
            background-color: lighten($color, $i * 2%);
        }
        $i: $i + 1;
    }
}


// each
$social-colors: (
    'youtube': #ff0000,
    'facebook': #3b5998,
    'twitter': #1da1f2,
    'instagram': #ffbf34,
    'twitch': #8134af,
);

.socials {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    // $social = key, $color = value in (dari map yang mana_ $social-colors
    @each $social, $color in $social-colors {
        .#{$social} {
            color: $color;
        }
    }
}